@import 'global'

.main-bg 
    left: 0
    top: 0
    height: 100vh
    width: 100vw
    position: fixed
    z-index: -999

// Year Component
.big-year
    margin: 20px auto 5px 20px
    font-family: $YearFont
    font-weight: 700

// Header Component
.header-container 

.header-title 
    font-family: $TitleFont
    font-weight: 700

.artist 
    font-family: $ArtistFont

.album-name 
    font-family: $AlbumTitleFont
    font-style: italic
    font-weight: 500

.album-description 
    font-family: $AlbumDesFont

.album-quote 
    font-family: $AlbumQuoteFont
    font-weight: 400
